.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__qp8U9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__lkJKh {
  display: flex;
  flex-direction: column;
}
.freeBox__lkJKh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lkJKh > :global(.__wab_flex-container) > *,
.freeBox__lkJKh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lkJKh > :global(.__wab_flex-container) > picture > img,
.freeBox__lkJKh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text___6XTxG {
  font-size: 48px;
}
.freeBox__diz9 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__diz9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__diz9 > :global(.__wab_flex-container) > *,
.freeBox__diz9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__diz9 > :global(.__wab_flex-container) > picture > img,
.freeBox__diz9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__u1Nn:global(.__wab_instance) {
  position: relative;
}
.bullet__uaHj:global(.__wab_instance) {
  position: relative;
}
.bullet__fLljl:global(.__wab_instance) {
  position: relative;
}
.freeBox__kjRtG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__w7L2A:global(.__wab_instance) {
  position: relative;
}
.svg__umZsu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___1J7T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wdLsz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
