.root {
  width: 100%;
  height: auto;
  max-width: var(--token-ZgqR8sCNy7b0);
  display: flex;
  position: relative;
  justify-content: space-between;
  min-width: 0;
  padding: 16px 8px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg___0R2GN {
  object-fit: cover;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.button__ux0Gd:global(.__wab_instance) {
  position: relative;
}
.svg___0H8F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__v17K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zkT3B:global(.__wab_instance) {
  position: relative;
}
.svg___2K8Ya {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__acqy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fNSl:global(.__wab_instance) {
  position: relative;
}
.svg__s0O96 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vtwUr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__noGqo:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__noGqo:global(.__wab_instance) {
    display: none;
  }
}
.svg__h9OF5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__k07Oe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
