.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iTdL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iTdL {
    width: 100%;
  }
}
.plan___6Sj8Z:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__lmaxx {
  font-size: 48px;
}
.freeBox___13SFm {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___13SFm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___13SFm > :global(.__wab_flex-container) > *,
.freeBox___13SFm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___13SFm > :global(.__wab_flex-container) > picture > img,
.freeBox___13SFm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__jbPrL:global(.__wab_instance) {
  position: relative;
}
.bullet__y22Pn:global(.__wab_instance) {
  position: relative;
}
.bullet__tekoI:global(.__wab_instance) {
  position: relative;
}
.button__utb5D:global(.__wab_instance) {
  position: relative;
}
.svg__aOi4D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__rTY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__h27JU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__h27JU {
    width: 100%;
  }
}
.plan__keBqX:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__uKkCt {
  font-size: 48px;
}
.freeBox__emMsC {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__emMsC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__emMsC > :global(.__wab_flex-container) > *,
.freeBox__emMsC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__emMsC > :global(.__wab_flex-container) > picture > img,
.freeBox__emMsC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___32UeP:global(.__wab_instance) {
  position: relative;
}
.bullet___6Spk6:global(.__wab_instance) {
  position: relative;
}
.bullet__zVr5A:global(.__wab_instance) {
  position: relative;
}
.bullet___0RCc:global(.__wab_instance) {
  position: relative;
}
.button__siFp:global(.__wab_instance) {
  position: relative;
}
.svg___1T5Xi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pYsxM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___366K5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___366K5 {
    width: 100%;
  }
}
.plan__gbxhR:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__o7FvW {
  font-size: 48px;
}
.freeBox__diKcO {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__diKcO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__diKcO > :global(.__wab_flex-container) > *,
.freeBox__diKcO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__diKcO > :global(.__wab_flex-container) > picture > img,
.freeBox__diKcO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__dXbQe:global(.__wab_instance) {
  position: relative;
}
.bullet__qqc4:global(.__wab_instance) {
  position: relative;
}
.bullet__uid3:global(.__wab_instance) {
  position: relative;
}
.button__xgm9:global(.__wab_instance) {
  position: relative;
}
.svg__bt0Yi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wHew {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__d8Xia {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__d8Xia > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__d8Xia > :global(.__wab_flex-container) > *,
.freeBox__d8Xia > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d8Xia > :global(.__wab_flex-container) > picture > img,
.freeBox__d8Xia
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__ggdoC:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq___1Gvtx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
