.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  justify-self: flex-start;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
  border-style: dashed;
}
.tweetTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Unbounded";
  text-align: left;
}
.tweetDescr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
