.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__ftgZs {
  width: 100%;
  height: auto;
  max-width: var(--token-ZgqR8sCNy7b0);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ftgZs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ftgZs > :global(.__wab_flex-container) > *,
.freeBox__ftgZs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ftgZs > :global(.__wab_flex-container) > picture > img,
.freeBox__ftgZs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___1VMlv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns___1VMlv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns___1VMlv > :global(.__wab_flex-container) > *,
.columns___1VMlv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___1VMlv > :global(.__wab_flex-container) > picture > img,
.columns___1VMlv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns___1VMlv > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___1VMlv > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1VMlv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1VMlv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1VMlv > :global(.__wab_flex-container) > *,
  .columns___1VMlv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___1VMlv > :global(.__wab_flex-container) > picture > img,
  .columns___1VMlv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1VMlv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qBcMw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qBcMw {
    width: 100%;
  }
}
.freeBox__kYntt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kYntt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__kYntt > :global(.__wab_flex-container) > *,
.freeBox__kYntt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kYntt > :global(.__wab_flex-container) > picture > img,
.freeBox__kYntt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kYntt {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kYntt > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___3EaBs {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__uJfnk {
  position: relative;
  text-align: left;
}
.bullet___0AG:global(.__wab_instance) {
  position: relative;
}
.bullet__rYnq:global(.__wab_instance) {
  position: relative;
}
.bullet__qhjJf:global(.__wab_instance) {
  position: relative;
}
.text__jlwbH {
  position: relative;
  text-align: left;
}
.freeBox__vnJ9 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__vnJ9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__vnJ9 > :global(.__wab_flex-container) > *,
.freeBox__vnJ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vnJ9 > :global(.__wab_flex-container) > picture > img,
.freeBox__vnJ9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vnJ9 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vnJ9 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vnJ9 > :global(.__wab_flex-container) > *,
  .freeBox__vnJ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vnJ9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__vnJ9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__vJi8Q:global(.__wab_instance) {
  position: relative;
}
.svg__qUbO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__upuV8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__uAK:global(.__wab_instance) {
  position: relative;
}
.svg__oLpnt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__m4Jfk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qwS2G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qwS2G {
    width: 100%;
  }
}
.img___9LTSc {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___9LTSc > picture > img {
  object-fit: cover;
}
.columns__wH2Eq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__wH2Eq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__wH2Eq > :global(.__wab_flex-container) > *,
.columns__wH2Eq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wH2Eq > :global(.__wab_flex-container) > picture > img,
.columns__wH2Eq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__wH2Eq > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wH2Eq > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wH2Eq {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wH2Eq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wH2Eq > :global(.__wab_flex-container) > *,
  .columns__wH2Eq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wH2Eq > :global(.__wab_flex-container) > picture > img,
  .columns__wH2Eq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wH2Eq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hqJ1P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hqJ1P {
    width: 100%;
  }
}
.img__kQ64 {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__kQ64 > picture > img {
  object-fit: cover;
}
.column___5EJlm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5EJlm {
    width: 100%;
  }
}
.freeBox__wrLlK {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wrLlK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__wrLlK > :global(.__wab_flex-container) > *,
.freeBox__wrLlK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wrLlK > :global(.__wab_flex-container) > picture > img,
.freeBox__wrLlK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wrLlK {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wrLlK > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__dOjnv {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__hMtLm {
  position: relative;
  text-align: left;
}
.bullet___6If05:global(.__wab_instance) {
  position: relative;
}
.bullet__rifum:global(.__wab_instance) {
  position: relative;
}
.bullet__l0KA:global(.__wab_instance) {
  position: relative;
}
.text___4NgEl {
  position: relative;
  text-align: left;
}
.freeBox__veDig {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__veDig > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__veDig > :global(.__wab_flex-container) > *,
.freeBox__veDig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__veDig > :global(.__wab_flex-container) > picture > img,
.freeBox__veDig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__veDig {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__veDig > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__veDig > :global(.__wab_flex-container) > *,
  .freeBox__veDig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__veDig > :global(.__wab_flex-container) > picture > img,
  .freeBox__veDig
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__izlRi:global(.__wab_instance) {
  position: relative;
}
.svg__iZrk3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__oQfq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__q1Jxa:global(.__wab_instance) {
  position: relative;
}
.svg__lLpwv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3J3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
